<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=divice-width, initial-scale=1" />
    <title>Event Handling and Props Children</title>
    <link href="../../css/main.css" rel="stylesheet" type="text/css" />
    <script src="../../js/react.min.js"></script>
    <script src="../../js/react-dom.min.js"></script>
    <script src="../../js/browser.min.js"></script>
</head>
<body>
    <div id="container"></div>

    <script type="text/babel">
        var Comment = React.createClass({
            edit: function() {
                alert('Edit comment');
            },
            remove: function() {
                alert('Removing comment');
            },
            render: function() {
                return (
                    <div>
                        <div className="commentContainer">
                            <div className="commentText">{this.props.children}</div>
                            <button onClick={this.edit} className="button-primary">Edit</button>
                            <button onClick={this.remove} className="button-danger">Remove</button>
                        </div>
                        <hr />
                    </div>
                );
            }
        });

        ReactDOM.render(
            <div className="board">
                <Comment>This is the 1st comment</Comment>
                <Comment>2nd comment</Comment>
                <Comment>3rd comment</Comment>
            </div>,
            document.getElementById('container')
        );
    </script>
</body>
</html>